########### Trialshopy Backend #############

# MongoDB
MONGO_URL="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/Trialshopy"

# JWT
ACCESS_TOKEN_SECRET=<your_access_token_secret_64_chars>
REFRESH_TOKEN_SECRET=<your_refresh_token_secret_64_chars>

# Twilio (OTP / SMS)
TWILIO_ACCOUNT_SID=<your_twilio_account_sid>
TWILIO_AUTH_TOKEN=<your_twilio_auth_token>
TWILIO_FROM_NUMBER=<your_twilio_phone_number>

# Redis (Upstash or any Redis provider)
REDIS_URL="rediss://default:<password>@<host>:<port>"
REDIS_HOST="<redis_host>"
REDIS_DB=0
REDIS_PORT=6379

# Razorpay
RAZORPAY_KEY_ID="<your_razorpay_key_id>"
RAZORPAY_KEY_SECRET="<your_razorpay_key_secret>"

# Cloudinary
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>
CLOUD_NAME=<your_cloudinary_cloud_name>
CLOUDINARY_API_KEY=<your_cloudinary_api_key>
CLOUDINARY_API_SECRET=<your_cloudinary_api_secret>

# SMTP (Email)
EMAIL="<your_smtp_email>"
PASSWORD="<your_smtp_app_password>"

# FitRoom Virtual Try-On API
FITROOM_API_KEY="<your_fitroom_api_key>"
FITROOM_BASE_URL="https://api.fitroom.com"

# Gradio Virtual Try-On (local bridge server)
VIRTUAL_TRYON_API=http://127.0.0.1:8000
